extends #{template}

block ﬁ.style
	link(rel='stylesheet', href='#{css('template/template')}')
	each asset in assets.css
		if asset
			link(rel='stylesheet', href='#{css(asset)}')

block ﬁ.script
	each asset in assets.js
		if asset
			script(src='#{js(asset)}')

block ﬁ.content
	if locals.content
		!= content
